@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

h1 {
  color: green;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: green;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto';
}

body{
  background-image: url("https://i.imgur.com/sSrnz1t.png");
background-size: cover;
}

.water-bottle-photo {
  width: 250px;
  height: 250px;
}

.hiking-shoes-img{
  width: 250px;
  height: 250px;
}
